* {
  margin: 0;
  padding: 0;
}
.partTitleCust {
  font-weight: 400;
  color: black;
  font-size: 24px;
}
.headTitleCust2 {
  font-weight: 500;
  color: black;
  font-size: 18px;
}
form {
  box-shadow: 4px -1px 10px 3px rgb(26 27 27 / 40%);
  padding: 10px;
}
input,
textarea {
  box-shadow: 0 0 5px 0 rgba(26, 27, 27, 0.4);
}
input:focus {
  background-color: #ffd9d9 !important;
  color: black !important;
}
textarea:focus {
  background-color: #ffd9d9 !important;
  color: black !important;
}
/* top searchBox */
.searchBox {
  width: 100%;
  display: inline-block;
}
.searchBar {
  display: inline-block;
  width: 50%;
  padding: 5px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 70px 70px 70px 70px;
  box-shadow: 0 0 5px 0 #1d1d1d;
  color: dimgray;
  font-size: 20px;
  transition: 0.4s ease;
}
.searchBar:focus {
  background-color: #ffd9d9;
  color: black;
}
.searchBtn {
  padding: 2px 7px;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 70px 70px 70px 70px;
  box-shadow: 0 0 5px 0 #1d1d1d;
  color: dimgray;
  font-size: 20px;
  transition: 0.4s ease;
}
.searchBtn:hover {
  background-color: #ffd9d9;
}
