* {
  margin: 0;
  padding: 0;
}
.brandImg {
  height: 50px;
  width: 50px;
}
.backgroundCust {
  background-size: cover;
  height: 700px;
  position: relative;
  background-image: url(../images/tierra-mallorca-rgJ1J8SDEAY-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  background-attachment: fixed;
}
.nav-item {
  margin-left: 4px;
  margin-right: 4px;
}
.nav-item a {
  font-size: 18px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}
.nav-link:hover {
  color: skyblue !important;
}

.dropdown-item a {
  font-size: 18px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}
.dropdown-item:hover {
  color: skyblue !important;
}
.movingTxt {
  font-weight: 900;
  font-size: 3.5em;
}
/* top searchBox */
.searchBox {
  width: 100%;
  display: inline-block;
}
.searchBar {
  display: inline-block;
  width: 50%;
  padding: 5px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 70px 70px 70px 70px;
  box-shadow: 0 0 5px 0 #1d1d1d;
  color: dimgray;
  font-size: 20px;
  transition: 0.4s ease;
}
.searchBar:focus {
  background-color: #ffd9d9;
  color: black;
}
.searchBtn {
  padding: 2px 7px;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 70px 70px 70px 70px;
  box-shadow: 0 0 5px 0 #1d1d1d;
  color: dimgray;
  font-size: 20px;
  transition: 0.4s ease;
}
.searchBtn:hover {
  background-color: #ffd9d9;
}
/* --- */
.details-btn {
  background: #69eb85;
}
.partTitleCust {
  font-weight: 400;
  color: black;
  font-size: 20px;
}
.headTitleCust {
  font-weight: 700;
  color: black;
  font-size: 32px;
}
.headTitleCust2 {
  font-weight: 500;
  color: black;
  font-size: 32px;
}
.txtCust {
  font-weight: 400;
  color: black;
  font-size: 16px;
}
.cardCust {
  margin: 4px;
  box-shadow: 0 0 5px 0 rgba(0, 115, 250, 0.4);
}
.cardCust:hover {
  position: relative;
  box-shadow: 0 0 30px 0 rgba(13, 98, 196, 0.4);
  transition: 0.3s ease-out;
}
.cardCustNews {
  margin: 4px;
  height: auto;
  padding: 10px 5px 10px 5px;
}
.cardCustNews:hover {
  box-shadow: 0 0 30px 0 rgba(13, 98, 196, 0.4);
}
.cardImgNews {
  height: 250px !important;
}
.carouselImg {
  height: 300px !important;
  z-index: 10;
}
.featuredWrap {
  max-width: 85px;
  float: left;
  background-color: #f1bf7f;
  background-color: rgba(241, 191, 127, 0.85);
  color: #fff;
  position: absolute;
  font-size: 11px;
  padding: 0 15px;
  line-height: 20px;
  background-image: none !important;
  margin-bottom: 4px;
  top: 20px;
  font-weight: 600;
  border-radius: 2px;
  z-index: 20;
}
.btn-group button {
  background-image: linear-gradient(to right, #92d485 1%, white 99%);
}
.btn-group button:hover {
  background-image: linear-gradient(
    to right,
    #92d485 40%,
    rgb(103, 218, 68) 60%
  );
}
.figure img {
  height: 300px !important;
}

@media only screen and (max-width: 600px) {
  .dropdown-menu {
    border: none;
    background: transparent;
  }
  .dropdown-item {
    font-size: 12px !important;
  }
}
